@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9ffed;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.background-container {
  margin: auto;
  background-image: url("back.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-upload {
  
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  margin-top: 300px;

}

.search-result {
  width: 45%;
  border-radius: 10px;
  height: 500px;
  overflow-y: scroll;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#search {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
}



.cv-result {
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.upload-zone {
  flex: 0.5;
}

.drag-and-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-zone {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease; /* Added border transition */
  border: 2px solid #000; /* Added black border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle effect */
}

.drop-zone:hover {
  background-color: #f0f0f0;
}
#upload-button {
  position: relative;
  color: #000000;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #ffffff;
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20px;
  box-shadow: 20px 0px 40px 0px #ffffff;
}

#upload-button:hover {
  background-color: #144b51;
  left: 0;
  color: #fff;
  width: 180px;
  box-shadow: 0px 0px 20px 0px #000000;
}
#upload-button:focus {
  outline: none;
}
#upload-button:disabled {
  cursor: initial;
  background-color: #144b51;
}

.result {
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.result h2 {
  color: #144b51;
}
.cv-result {
  width: 92%;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 120ms;
  transition: background-color 0.3s ease, border 0.3s ease; /* Added border transition */
  border: 2px solid #000; /* Added black border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle effect */

}

.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffc451;
}